
* {
	margin: 0;
	padding: 0;
	background-color: #e8e8e8;
}
#circle {
    position: absolute;
    margin: auto;
    width: 25%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#enter {
    position: absolute;
    margin: auto;
    width: 25%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}