*{
	background-color: #2B90C6;
}
.titlebox {
	position: absolute;
	background-color: #aaf99d;
	height: 17%;
	width: 80%;
	margin: auto;
	top:0;
	left:0;
	right:0;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;
}
.gamebox {
	position: absolute;
	background-color: #aaf99d;
	height: 90%;
	width: 80%;
	margin: auto;
	top:20%;
	left:0;
	right:0;
}
embed {
	position: absolute;
    margin: auto;
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer {
	position: absolute;
	background-color: #aaf99d;
	height: 17%;
	width: 80%;
	margin: auto;
	top:113%;
	left:0;
	right:0;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;
}